<!DOCTYPE html>

<html>
    <title>m4make</title>

    <body>
        <p>
            A Bash script to process a Makefile with M4 into a temporary file before invoking it with Make.</br>
            The dummy Makefile is deleted after Make has executed it. Any arguments passed to m4make are</br>
            directly passed to the Make command itself, and like Make, there is no need to directly specify</br>
            the Makefile. It just has to exist in the directory m4make is invoked in.
            </br>
            </br>
            Each available version, and the command to download it can be found below.
            <DOWNLAOD-MARKER>
        </p>
    </body>
</html>
